<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>GameShopper</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/styles/bootstrap.css" media="screen">
    <link rel="stylesheet" href="/styles/custom.min.css">
    <link rel="stylesheet" href="/styles/table.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../bower_components/html5shiv/dist/html5shiv.js"></script>
      <script src="../bower_components/respond/dest/respond.min.js"></script>
    <![endif]-->
    
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/home" class="navbar-brand">GameShopper</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li>
              <a href="/gameCatalog">Game Catalog</a>
            </li>
            <li>
              <a href="/stores">Stores</a>
            </li>
            <li>
              <a href="/shoppingCart">Shopping Cart</a>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout">Logout</a></li>
          </ul>

        </div>
      </div>
    </div>
    <!-- Main body -->
    <div ng-app="gameStorePages" ng-controller="gameStoreController" ng-init="getAllGames();getAllStores();getStoresAndStock();"style="padding-left: 30px; padding-right: 30px;">
      <h1 class="page-header">Game Catalog</h1>
      <h3>
        Welcome to the GameShopper web app!
        </br>This is where you can order games from all different stores to ensure that you get the best prices and all your games at once!
      </h3>
      <hr>
      <h3> Available games and where they can be found: </h3>
      <table class="table table-hover" ng-repeat="game in gamesData">
        <caption style="color:black"><strong><h2>{{game.title}} is available at:</h2></strong></caption>
        <thead>
          <td><strong>Store</strong></td>
          <td><strong>Store Location</strong></td>
          <td><strong>Cost</strong></td>
          <td><strong># In Stock</strong></td>
          <td><strong>Add To Cart</strong></td>
        </thead>

        <tr ng-repeat="data in storeAndStockData" ng-if="game.game_id == data.game_id">          
          <td> {{data.name}} </td>
          <td> {{data.location}}</td>
          <td> ${{data.cost}} </td>
          <td> {{data.count}} </td> 
          <td> <p>How many? <input id="copyCount" name="copyCount" type="number" default="1" placeholder="1" ng-model="orderForm.copyCount" class="form-control-input-small" min="1" max="{{data.count}}" required></input>   <button title="Add Game to Cart" class="btn btn-primary" ng-click="addGameToCart(game.game_id, data.store_id, orderForm.copyCount)">Add to Cart</button></p> </td>
        </tr>
      </table>
    </div>
    <script type="text/javascript">
      document.getElementById("copyCount").defaultValue = 1;
    </script>

    <!-- =================================================
                            Scripts                            
    ====================================================== -->
    <!--lodash-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.min.js"></script>
    <!--jquery-->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <!--bootstrap-->
    <script src="/scripts/bootstrap.min.js"></script>
    <!-- angular -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js"></script>
    
    <!--custom scripts-->
    <script src="/scripts/custom.js"></script>
    <script src="/scripts/controllers.js"></script>
  </body>
</html>
