
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>GameShopper</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/styles/bootstrap.css" media="screen">
    <link rel="stylesheet" href="/styles/custom.min.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../bower_components/html5shiv/dist/html5shiv.js"></script>
      <script src="../bower_components/respond/dest/respond.min.js"></script>
    <![endif]-->
    
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/home" class="navbar-brand">GameShopper</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li>
              <a href="/gameCatalog">Game Catalog</a>
            </li>
            <li>
              <a href="/shoppingCart">Shopping Cart</a>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout">Logout</a></li>
          </ul>

        </div>
      </div>
    </div>
    <!-- Main body -->
    <div ng-app="votePages" ng-controller="voteController" ng-init="teacherStatus();"style="padding-left: 30px; padding-right: 30px;">
      <h1 class="page-header">Home Page</h1>
      <h3>
        Welcome to the GameShopper web app!
        </br>This is where you can mass order games from all different stores to ensure that you get the best prices and all your games at once!
      </h3>
      <hr>
      <h2><strong>Instructions</strong></h2>
      <hr>
      <h3>
        <h3>Users:</h3></br>
        <h4>
          Implementation coming coon!
        </h4> 
        <span ng-if="adminStatus">
          <h3>Admins:</h3></br>
          <h4>
            Implementation coming soon!
          </h4>
        </span>
      </h3>  
    </div>

    <!-- =================================================
                            Scripts                            
    ====================================================== -->
    <!--lodash-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.min.js"></script>
    <!--jquery-->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <!--bootstrap-->
    <script src="/scripts/bootstrap.min.js"></script>
    <!-- angular -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js"></script>
    
    <!--custom scripts-->
    <script src="/scripts/custom.js"></script>
    <script src="/scripts/controllers.js"></script>
  </body>
</html>
