<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>GameShopper</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/styles/bootstrap.css" media="screen">
    <link rel="stylesheet" href="/styles/custom.min.css">
    <link rel="stylesheet" href="/styles/table.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../bower_components/html5shiv/dist/html5shiv.js"></script>
      <script src="../bower_components/respond/dest/respond.min.js"></script>
    <![endif]-->
    
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/adminHome" class="navbar-brand">GameShopper</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li>
              <a href="/gameCatalogEdit">Game Catalog Editor</a>
            </li>
            <li>
              <a href="/storesEdit">Stores Editor</a>
            </li>
            <li>
              <a href="/orderHistory">Order History</a>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout">Logout</a></li>
          </ul>

        </div>
      </div>
    </div>
    <!-- Main body -->
    <div ng-app="gameStorePages" ng-controller="gameStoreController" ng-init="getAllOrderHistory();"style="padding-left: 30px; padding-right: 30px;">
      <h1 class="page-header">Order History</h1>
      <table class="table table-hover">
        <caption style="color:black"><strong><h2>All Orders</h2></strong></caption>
          <thead>
            <td><strong>Ordered By</strong></td>
            <td><strong>Game Title</strong></td>
            <td><strong>Store</strong></td>
            <td><strong>Count</strong></td>
            <td><strong>Price In Dollars</strong></td>
            <td><strong>Remove From Cart</strong></td>
          </thead>

          <tr ng-repeat="data in orderHistoryData">          
            <td> Customer #{{data.customer_id}}</td>
            <td> {{data.title}}</td>
            <td> {{data.name}} </td>
            <td> {{data.count}}</td>
            <td> ${{data.cost*data.count}} </td>
            <td> <p><button title="Delete this entry" class="btn btn-danger" ng-click="deleteItem(2,data.order_id);">Delete Record</button></p> </td>
          </tr>
      </table>

    </div>

    <!-- =================================================
                            Scripts                            
    ====================================================== -->
    <!--lodash-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.min.js"></script>
    <!--jquery-->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <!--bootstrap-->
    <script src="/scripts/bootstrap.min.js"></script>
    <!-- angular -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js"></script>

    <!--custom scripts-->
    <script src="/scripts/custom.js"></script>
    <script src="/scripts/controllers.js"></script>
  </body>
</html>
