
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Student Webpage Voting</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/styles/bootstrap.css" media="screen">
    <link rel="stylesheet" href="/styles/custom.min.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../bower_components/html5shiv/dist/html5shiv.js"></script>
      <script src="../bower_components/respond/dest/respond.min.js"></script>
    <![endif]-->
    
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/home" class="navbar-brand">Student Page Voting</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li>
              <a href="/studentPages">Student Pages</a>
            </li>
            <li>
              <a href="/uploadFiles">Upload Files</a>
            </li>
            <li>
              <a href="/seeResults">See Results</a>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout">Logout</a></li>
          </ul>

        </div>
      </div>
    </div>
    <!-- Main body -->
    <div ng-app="gameStorePages" ng-controller="gameStoreController" ng-init="getVotingResults();getProjectId();" style="padding-left: 30px;padding-right: 30px;">
      <h1 class="page-header">Results of the voting for project: {{currentProject}}</h1>
      <a href='#' ng-click='downloadCSV({ filename: "project-votes.csv" });'><button class="btn btn-default">Download CSV of the results</button></a>
      <hr>
      <h3>How many people voted for each project (if the project isn't in the list, it didn't recieve any votes):</h3>
      <table class="table table-hover">
        <thead>
        <td><strong>Page Name</strong></td>
        <td><strong>Number of Votes</strong></td>
        </thead>
        <tr ng-repeat="data in winnerVotingData">          
          <td> {{data[0]}} </td>
          <td> {{data[1]}} </td>
        </tr>
      </table>
      <hr>
      <h3>Individual Vote Distribution:</h3>
      <table class="table table-hover">
        <thead>
        <td><strong>Page Name</strong></td>
        <td><strong>Username of Voter</strong></td>
        </thead>
        <tr ng-repeat="data in allVotingData">          
          <td> {{data.vote}} </td>
          <td> {{data.email}} </td>
        </tr>
      </table>
    </div>

    <!-- =================================================
                            Scripts                            
    ====================================================== -->
    <!--lodash-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.min.js"></script>
    <!--jquery-->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <!--bootstrap-->
    <script src="/scripts/bootstrap.min.js"></script>
    <!-- angular -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js"></script>

    <script type="text/javascript" src="/node_modules/ng-file-upload/dist/ng-file-upload.min.js"></script>
    <script type="text/javascript" src="/node_modules/ng-file-upload/dist/ng-file-upload-shim.min.js"></script>
    
    <!--custom scripts-->
    <script src="/scripts/custom.js"></script>
    <script src="/scripts/controllers.js"></script>
  </body>
</html>
